{% extends 'payments/list.html' %}
{% load static %}
{% block title %}Token Application{% endblock %}

{% block extracss %}
<style>
    .in-search {
        height: 28px !important;
        font-size: 13px !important;
    }
</style>
{% endblock %}
{% block inner-content %}
<div id="class-page-content">
        <div class="teachers table">
            <div class="header">
                <h1>TOKEN APPLICATION</h1>
            </div>
            
        </div>
        <div class="panel panel-default" style="margin-bottom: 0; padding:10px; color: rgb(10, 61, 85); background: #fff;">
            <form action="" method="POST">{% csrf_token %}
               <div class="form-group">
                   {{form}}
               </div>
               <div class="form-group">
                   <button type="submit" class="btn btn-main">Apply</button>
               </div>
            </form>
        </div>
    </div>
    
{% endblock %}