{% extends 'base.html' %}
{% load static humanize %}
{% block title %}Tokens{% endblock %}
{% block extracss %}
<style>
    input[type=text]{
        height: 26px !important;
        display: inline;
    }
    .cancel {
        box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.4);
        transition: all .76s ease-in-out;
        background: rgb(218, 31, 31);
        color: #fff;
    }
    .cancel:hover{
        color: #fff;
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.4);
    }
    .pay {
        box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.4);
        transition: all .76s ease-in-out;
        background: rgb(54, 128, 177);
        color: #fff;
    }
    .pay:hover{
        color: #fff;
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.4);
    }
    .print {
        box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.4);
        transition: all .76s ease-in-out;
        background: rgb(114, 114, 119);
        color: #fff;
    }
    .print:hover, .print:focus{
        color: #fff;
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.4);
    }
    .status{
        border-radius: 30px;
        padding: 6px 10px;
        font-size: 13px;
        color: #fff;
    }
    .initialized{background: rgb(145, 158, 158);}
    .approved{background: rgb(19, 161, 19);}
   .processing{background: #5e46eb;}
   .declined{background: rgb(0, 0, 0);}
   .cancelled{background: rgb(251, 8, 8);}

   .copied::before {
        position: absolute;
        right: 17%;
        top: 17%;
        display: block;
        content: "copied";
        font-size: 0.75em;
        font-weight: 600;
        padding: 2px 3px;
        color: rgb(10, 89, 92);
        border-radius: 3px;
        opacity: 0;
        animation: showcopied 1.5s ease;
    }
    td, th{
        padding: 7px;
        font-size: 15px;
    }
</style>
{% endblock %}
{% block content %}
{% block inner-content %}
<div id="class-page-content">
    <div class="students table" style="margin-bottom: 5px; padding: 10px;">
        <div class="header" style="padding: 10px; height: inherit !important; text-align: center !important; margin-bottom: 20px;">
            <img src="{% static 'img/checked.png' %}" alt="" width="50"><br>
            <h1 class="num_students" style="color: rgb(32, 216, 25);">Payment Successful!</h1>
        </div>
        <table class="table-striped">
            <tbody>
                <tr>
                    <th>School: </th>
                    <td>{{token_app.school}}</td>
                </tr>
                <tr>
                    <th>Term/Year: </th>
                    <td>{{token_app.term}}/{{token_app.year}}</td>
                </tr>
                <tr>
                    <th>Payment Reference: </th>
                    <td>{{response.reference}}</td>
                </tr>
                <tr>
                    <th>Amount: </th>
                    <td>NGN {{amount|intcomma}}</td>
                </tr>
                <tr>
                    <th>Card Type: </th>
                    <td>{{response.authorization.card_type}}</td>
                </tr>
                <tr>
                    <th>Card Number: </th>
                    <td>**** **** **** {{response.authorization.last4}}</td>
                </tr>
                <tr>
                    <td colspan="2" style="padding: 15px; font-size: 20px; font-weight: 300; text-align: center;">Access Token: <span style="color: #07456f; font-size: 25px;">{{token_app.get_token}}</span></td>
                </tr>
            </tbody>
        </table>        
    </div>
</div>

{% endblock inner-content %}
{% endblock content %}
