{% extends 'base.html' %}
{% load static dict_filters%}
{% block title %}Tokens{% endblock %}
{% block extracss %}
<style>
    input[type=text]{
        height: 26px !important;
        display: inline;
    }
    .cancel {
        box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.4);
        transition: all .76s ease-in-out;
        background: rgb(218, 31, 31);
        color: #fff;
    }
    .cancel:hover{
        color: #fff;
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.4);
    }
    .pay {
        box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.4);
        transition: all .76s ease-in-out;
        background: rgb(54, 128, 177);
        color: #fff;
    }
    .pay:hover{
        color: #fff;
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.4);
    }
    .print {
        box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.4);
        transition: all .76s ease-in-out;
        background: rgb(114, 114, 119);
        color: #fff;
    }
    .print:hover, .print:focus{
        color: #fff;
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.4);
    }
    .status{
        border-radius: 30px;
        padding: 2px 10px;
        font-size: 13px;
        color: #fff;
    }
    .initialized{background: rgb(145, 158, 158);}
    .approved{background: rgb(19, 161, 19);}
   .processing{background: #5e46eb;}
   .declined{background: rgb(0, 0, 0);}
   .cancelled{background: rgb(251, 8, 8);}

   .copied::before {
        position: absolute;
        right: 17%;
        top: 17%;
        display: block;
        content: "copied";
        font-size: 0.75em;
        font-weight: 600;
        padding: 2px 3px;
        color: rgb(10, 89, 92);
        border-radius: 3px;
        opacity: 0;
        animation: showcopied 1.5s ease;
    }
    
    @keyframes showcopied {
        0% {
        opacity: 0;
        transform: translateX(100%);
        }
        70% {
        opacity: 1;
        transform: translateX(0);
        }
        100% {
        opacity: 0;
        }
    }
    .clip{
        cursor: pointer;
        position: absolute;
        top: 20%;
        right: 17%;
    }
</style>
{% endblock %}
{% block content %}
<div id="teacher-class-nav" class="teacher-top-nav"> 
    {% if user.teacher.is_admin %}
    <a class="class-nav-link" href="{% url 'payments:list' %}">Existing Tokens</a>
    <a class="class-nav-link" href="{% url 'payments:apply' %}">Token Application</a>
    <a class="class-nav-link" href="{% url 'payments:search' %}">Pin Search</a>
    <a class="class-nav-link" href="{% url 'payments:new' %}">New Pin</a>
    {% endif %}
    {% if user.student %}
    <a class="class-nav-link" href="{% url 'payments:validate' %}">Validate Pin</a>
    <a class="class-nav-link" href="#">Make Payments <span style="font-size: 8px; color: #00a79d;">(COMING SOON)</span></a>
    {% endif %}
</div>
{% block inner-content %}
<div id="class-page-content">
    <div class="teachers table">
        <div class="header">
            <h1>Access Tokens</h1>
            
            <div class="separator"></div>
        </div>
    </div>
    <div class="panel panel-default" style="margin-bottom: 0; padding:10px; background: rgb(10, 61, 85); color: #fff;">
        <form action="" method="GET">
            <div class="row" style="border-top: none;">
                <div class="col-md-2">
                    <strong><i class="icons icons-sm icons-filter"></i> Filter Query:</strong>
                </div>
                <div class="col-md-3">
                    <select name="year" id="id_year" class="form-control input-sm in-search">
                        <option value="all">---Select Year---</option>
                        {% for year in years %}
                        <option value="{{year}}">{{year}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <select name="term" id="id_term" class="form-control input-sm in-search">
                        <option value="all">---Select Term---</option>
                        <option value="all">All</option>
                        <option value="1">First Term</option>
                        <option value="2">Second Term</option>
                        <option value="3">Third Term</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-sm bg-teal" type="search">Search</button>
                </div>
                <div class="col-md-3">
                    <h4 id="id_batch" style="color: #fff; margin-top: 6px; margin-bottom: 0; float: right;"></h4>
                </div>
            </div>
        </form>
    </div>
    <br>
    <table class="table table-striped table-condensed">
        <thead style="background: #10857f; color: #fff;">
            <th scope="col" style="width: 6%;">S/N</th>
            <th>Payment ID</th>
            <th>Term</th>
            <th>Year</th>
            <th style="width: 13%;">Application Date</th>
            <th style="width: 24%; text-align: center;">Token</th>
            <th style="width: 7%;">Status</th>
            <th style="width: 26%;">&nbsp;</th>
        </thead>
        <tbody>
            {% if payments %}
            {% for payment in payments %}
            <a href=""><tr>
                <td><strong>{{ forloop.counter }}.</strong></td>
                {% if payment.status == 'C' %}
                <td style="text-decoration: line-through;">{{payment.payment_id}}</td>
                {% else %}
                <td><a href="">{{payment.payment_id}}</a></td>
                {% endif %}
                <td>{{payment.term}}</td>
                <td>{{payment.year}}</td>
                <td>{{payment.date_created|date:"M-d-Y"}}</td>
                {% if payment.get_token %}
                <td>
                    <div style="position: relative;">
                        <span id="c-{{payment.id}}"></span>
                        <input type="text" disabled value="{{payment.get_token|truncatechars:15}}*********" style="width: 86%;">
                        <input id="{{payment.id}}" type="text" value="{{payment.get_token}}" style="position: absolute; top: -934px;">
                        <img data-toggle="popover" title="Click to Copy Token to clipboard" onclick="copy('{{payment.id}}')" class="clippy clip" width="13" src="{% static '/img/clippy.svg' %}" alt="Copy to clipboard">
                    </div>
                </td>
                {% else %}
                <td style="text-align: center;">-</td>
                {% endif %}
                <td><span class="status {{payment.get_status|lower}}">{{payment.get_status}}!</span></td>
                <td style="text-align: right;">
                    {% if payment.status == 'I' %}
                        {% if config.plan.amount == 0.0 %}
                        <a href="{% url 'payments:without-pay' payment_id=payment.payment_id %}" class="status pay"><i class="icons icons-sm icons-payment"></i> Checkout</a>
                        {% else %}
                            {% if config.payment_method == 'Card' %}
                            <a href="{% url 'payments:initialize' payment_id=payment.payment_id %}" class="status pay"><i class="icons icons-sm icons-payment"></i> Checkout</a>
                            {% else %}
                            <a href="{% url 'payments:teller-pay' payment_id=payment.payment_id %}" class="status pay"><i class="icons icons-sm icons-payment"></i> Checkout</a>
                            {% endif %}
                        {% endif %}
                    <a href="{% url 'payments:cancel' payment_id=payment.payment_id %}" class="status cancel"><i class="icons icons-sm icons-close"></i> Cancel</a>
                    {% endif %}
                    {% if payment.status == 'A' %}
                    <form id="frm-{{payment.id}}" target="_blank" action="{% url 'payments:print' token=payment.get_token %}">
                        <a onclick="printMe({{payment.id}})" href="#" class="status print"><i class="icons icons-sm icons-print"></i> Generate/Print Pins</a>
                    </form>
                    {% endif %}
                </td>
            </tr></a>
            {% endfor %}
            {% else %}
            <tr style="text-align: center; font-size: 16px;">
                <td colspan="8">No Payments Found</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <div>
    {% render_paginator payments %}  
    </div>
</div>

{% endblock inner-content %}
{% endblock content %}

{% block extrajs %}
<script>
    function copy(id) {
        var copyText = document.getElementById(id);
        copyText.select();
      
        try {
            // copy text
            document.execCommand('copy');
            copyText.blur();
            
            // copied animation
            var copied = document.getElementById('c-'+id);
            copied.classList.add('copied');
            setTimeout(function() { copied.classList.remove('copied'); }, 1500);
        }
        catch (err) {
            alert('please press Ctrl/Cmd+C to copy');
        }
    }

    function printMe(id) {
        $('#frm-'+id).submit();
    }
</script>
{% endblock %}