{% extends 'payments/list.html' %}
{% load static dict_filters%}
{% block title %}Search Pin{% endblock %}
{% block extracss %}
<style>
    .status{
        border-radius: 30px;
        padding: 4px 20px;
        font-size: 13px;
        color: #fff;
    }
    .search {
        box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.3);
        transition: all .46s ease-in-out;
        background: rgb(13, 120, 124);
        color: #fff;
        cursor: pointer;
    }
    .search:hover{
        color: #fff;
        box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.3);
    }
    input[type=text], select{
        height: 28px !important;
        display: inline;
    }
</style>
{% endblock %}
{% block inner-content %}
<div id="class-page-content">
    <div class="teachers table">
        <div class="header">
            <h1>Pin Search</h1>
            <div class="separator"></div>
        </div> 
    </div>

    <div class="students table" style="margin-bottom: 5px;">
        <div style="padding: 10px;">
           <form action="" method="POST">{% csrf_token %}
               <div class="row" style="border-top: none; margin-top: 20px;">
                    <div class="col-md-4">
                        <input name='reg_number' id="id_reg_number" type="text" class="form-control input-sm in-search" placeholder="Enter Student Reg Number">
                    </div>
                    <div class="col-md-3">
                        <select name="term" id="id_term" class="form-control input-sm in-search">
                            <option value="all">---Select Term---</option>
                            <option value="1">First Term</option>
                            <option value="2">Second Term</option>
                            <option value="3">Third Term</option>
                        </select>
                    </div>   
                    <div class="col-md-2">
                        <input class="form-control input-sm in-search" class="form-control input-sm in-search" name="year" id="id_year" type="text" placeholder="Year">
                    </div>
                    <div class="col-md-2">
                        <p class="status search" onclick="getDetails()"><i class="icons icons-sm icons-search"></i> Search</p>
                    </div>  
               </div>
           </form>
        </div>        
    </div>
    <div id="response_container" style="margin-top: 30px;">

    </div>
</div>
{% endblock inner-content %}

{% block extrajs %}
<script>
    let jsonURL = "{% url 'payments:search-json' %}";
    function generate(path) {
        $.getJSON(path, function(data){
           var newNode = document.createElement('div');  
           var content = '<h3 style="text-align: center; margin-top: 10px; font-weight: 200;">Search Result</h3>';
           content += '<table class="table table-striped"><tbody>';
            if(data['status_code'] == 1) {
                content += '<tr><td>Full Name</td><td>'+data['name']+'</td></tr>';
                content += '<tr><td>Reg Number</td><td>'+data['reg_number']+'</td></tr>';
                content += '<tr><td>Class</td><td>'+data['class']+'</td></tr>';
                content += '<tr><td>Pin</td><td style="font-size: 20px;">'+data['pin']+'</td></tr>';
                content += '<tr><td>Message</td><td style="color: #109445;">'+data['message']+'</td></tr>';
            }else{
                content += '<tr><td>Message</td><td style="text-align: center;">'+data['message']+'</td></tr>';
            }
            content += '</tbody><table></div>';
            newNode.innerHTML = content;
           var container = document.getElementById('response_container');
           container.innerHTML = content;
        })
    }

    function getDetails(){
        var term = $('#id_term').val();
        var year = $('#id_year').val();
        var reg_number = $('#id_reg_number').val();
        var path = jsonURL+'?reg_number='+reg_number+'&term='+term+'&year='+year;
        generate(path);
    }
</script>
{% endblock %}